.navbar {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background: #222;
  padding: 40px 0;
}
.title h2 {
  margin-top: 0;
}
.navbar table {
  margin: auto;
}
.navbar table td {
  width: 150px;
}